.fjob-vn-by-html-to-verify {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.div-layout-layout-wrapper-verify {
    background-color: var(--fjobvnforgot-password15295999755859375x6952000122070312defaultnero);
    width: 100%;
}

.div-layout-layout-verify {
    align-items: flex-start;
    background-color: var(--fjobvnforgot-password15295999755859375x6952000122070312defaultwild-sand);
    display: flex;
    flex-direction: column;

    position: relative;
    width: 100%;
}

.div-forgotpass-main-verify {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    padding: 0px 0.01px 0px 0px;
    position: relative;
    width: 100%;
}

.img-verify {
    align-self: stretch;
    min-height: 695.2px;
    position: relative;
    width: 768px;
}

.div-forgotpass-main-wrapper-verify {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    margin-left: -0.01px;
    min-width: 390.75px;
    padding: 0px 185.42px 0px 185.43px;
    position: relative;
}

.div-verify {
    height: 739px;
    margin-left: -22.42px;
    margin-right: -22.42px;
    position: relative;
    width: 345px;
}

.div-forgotpass-main-2-verify {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    left: 28px;
    padding: 0px 8.76px 0px 8.99px;
    position: absolute;
    top: 56px;
}

.logo-svg-verify {
    height: 97px;
    position: relative;
    width: 190.4px;
}

.span-verify {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 14px 0px 0px;
    position: relative;
}

.span-hd-bac-verify {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.n-n-t-ng-cung-c-p-vi-verify {
    color: var(--fjobvnforgot-password15295999755859375x6952000122070312defaultjapanese-laurel);
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.div-step-one-main-verify {
    height: 500px;
    position: absolute;
    top: 220px;
    width: 345px;
    margin: -0 35px;
}

.div-auth-main-title-verify {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    left: 0;
    padding: 0px 26.44px 0px 27.31px;
    position: absolute;
    top: 0;
}

.text-wrapper-verify {
    color: var(--fjobvnforgot-password15295999755859375x6952000122070312defaultebony-clay);
    font-family: "Roboto-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.1px;
    line-height: 27px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.p-step-one-main-des-verify {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 37px;
    max-width: 0 30px;
}

.p-verify {
    color: var(--fjobvnforgot-password15295999755859375x6952000122070312defaultblack-85);
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    translate: 30px 0;
}

.verify-control {
    margin: 10px 10px;

    &-otp {
        display: flex;
        margin: 0 74px;
    }
}

.div-wrapper-verify {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    left: 0;
    padding: 0px 55px;
    position: absolute;
    top: 59px;
}

.div-auth-main-form-verify {
    height: 210px;
    left: 0;
    position: absolute;
    top: 80px;
    width: 335px;

    &-otp {
        top: 20px
    }
}

.heading-s-i-n-tho-verify {
    margin: 5px 15px;
    font-weight: bold;

    &-otp {
        margin: 25px 58px;
        font-weight: bold;
    }
}

.form-verify {
    margin-bottom: 10px;

    &-otp {
        margin: 35px 10px;
    }
}

.form-reset {
    padding: 0 15px;

}

.div-ant-row-verify {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 0px;
    height: 57.6px;
    position: relative;
    width: 100%;
}

.div-ant-col-verify {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    height: 57.6px;
    max-width: 334.75px;
    position: relative;
}

.div-ant-form-item-verify {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    min-height: 32px;
    position: relative;
    width: 100%;
}

.span-ant-input-affix-wrapper-verify {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-width: 334.75px;
    position: relative;
}

#span-ant-input-affix-verify {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--fjobvnforgot-password15295999755859375x6952000122070312defaultnero);
    border: 1px solid;
    border-color: var(--fjobvnforgot-password15295999755859375x6952000122070312defaultalto);
    border-radius: 6px;
    display: flex;
    flex: 0 0 auto;
    gap: 9.54e-7px;
    padding: 10px 10px;
    position: relative;
    width: 100%;
    padding: 10px;

    &-otp {
        text-align: center;
    }
}

.span-ant-input-verify {
    flex: 0 0 auto;
    position: relative;
}

.input-verify {
    display: flex;

    &-otp {
        display: flex;
        translate: 18px 0px;
        width: 200px;
    }
}

#icon-verify {
    translate: 290px 15px;
    z-index: 1;
}

.div-hd-ecc-verify {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 258.15px 0.8px 0px;
    position: relative;
    width: 100%;
}

.text-wrapper-2-verify {
    color: var(--fjobvnforgot-password15295999755859375x6952000122070312defaultblack-85);
    font-family: var(--fjob-vn-forgot-password-1529-5999755859375x695-2000122070312-default-roboto-regular-14-font-family);
    font-size: var(--fjob-vn-forgot-password-1529-5999755859375x695-2000122070312-default-roboto-regular-14-font-size);
    font-style: var(--fjob-vn-forgot-password-1529-5999755859375x695-2000122070312-default-roboto-regular-14-font-style);
    font-weight: var(--fjob-vn-forgot-password-1529-5999755859375x695-2000122070312-default-roboto-regular-14-font-weight);
    letter-spacing: var(--fjob-vn-forgot-password-1529-5999755859375x695-2000122070312-default-roboto-regular-14-letter-spacing);
    line-height: var(--fjob-vn-forgot-password-1529-5999755859375x695-2000122070312-default-roboto-regular-14-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.span-step-one-main-wrapper-verify {
    align-items: center;
    display: inline-flex;
    gap: 78.21px;
    justify-content: space-around;
    left: 0;
    position: absolute;
    top: 365px;
    translate: 20px;
}

.span-step-one-main-verify {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.text-wrapper-3-verify {
    color: var(--fjobvnforgot-password15295999755859375x6952000122070312defaultpurple-heart);
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    text-decoration: none;
}

.span-step-one-main-2-verify {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 197px;
    position: absolute;
    top: 365px;
    translate: 20px;
}

#button-verify {
    align-items: flex-start;
    border-radius: 10px;
    height: 44px;
    padding: 10px 130px;
    position: absolute;
    top: 415px;
    translate: 20px;

    &-otp {
        margin: 0 5px;
    }
}

.text-wrapper-4-verify {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--fjobvnforgot-password15295999755859375x6952000122070312defaultnero);
    display: -webkit-box;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
}

.div-fb-dialog-verify {
    align-items: flex-start;
    background-color: var(--fjobvnforgot-password15295999755859375x6952000122070312defaultemperor-70);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: -10000px;
    width: 320px;
}

.div-fb-dialog-2-verify {
    align-self: stretch;
    background-color: var(--fjobvnforgot-password15295999755859375x6952000122070312defaultnero);
    height: 11px;
    position: relative;
    width: 100%;
}