:root {
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-24-font-family: "Open Sans", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-24-font-size: 24px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-24-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-24-font-weight: 400;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-24-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-24-line-height: 24px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-30-font-family: "Open Sans", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-30-font-size: 30px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-30-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-30-font-weight: 400;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-30-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-30-line-height: 20px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-6-4-font-family: "Open Sans", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-6-4-font-size: 6.400000095367432px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-6-4-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-6-4-font-weight: 400;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-6-4-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-inter-regular-6-4-line-height: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-18-upper-font-family: "Open Sans", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-18-upper-font-size: 18px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-18-upper-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-18-upper-font-weight: 700;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-18-upper-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-18-upper-line-height: 28.290000915527344px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-21-upper-font-family: "Open Sans", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-21-upper-font-size: 21px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-21-upper-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-21-upper-font-weight: 700;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-21-upper-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-21-upper-line-height: 33px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-24-5-upper-font-family: "Open Sans", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-24-5-upper-font-size: 24.5px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-24-5-upper-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-24-5-upper-font-weight: 700;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-24-5-upper-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-24-5-upper-line-height: 38.5px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-35-font-family: "Open Sans", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-35-font-size: 35px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-35-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-35-font-weight: 700;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-35-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-bold-35-line-height: 55px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-14-font-family: "Open Sans", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-14-font-size: 14px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-14-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-14-font-weight: 500;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-14-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-14-line-height: 22px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-15-8-font-family: "Open Sans-Medium", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-15-8-font-size: 15.800000190734863px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-15-8-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-15-8-font-weight: 500;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-15-8-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-15-8-line-height: 24.75px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-16-4-font-family: "Open Sans-Medium", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-16-4-font-size: 16.399999618530273px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-16-4-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-16-4-font-weight: 500;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-16-4-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-16-4-line-height: 25.739999771118164px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-16-font-family: "Open Sans-Medium", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-16-font-size: 16px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-16-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-16-font-weight: 500;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-16-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-medium-16-line-height: 25.139999389648438px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-12-6-font-family: "Open Sans-Regular", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-12-6-font-size: 12.600000381469727px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-12-6-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-12-6-font-weight: 400;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-12-6-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-12-6-line-height: 19.799999237060547px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-12-font-family: "Open Sans-Regular", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-12-font-size: 12px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-12-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-12-font-weight: 400;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-12-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-12-line-height: 20px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-13-font-family: "Open Sans-Regular", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-13-font-size: 13px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-13-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-13-font-weight: 400;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-13-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-13-line-height: 20.43000030517578px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-14-font-family: "Open Sans-Regular", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-14-font-size: 14px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-14-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-14-font-weight: 400;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-14-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-14-line-height: 22px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-15-8-font-family: "Open Sans-Regular", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-15-8-font-size: 15.800000190734863px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-15-8-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-15-8-font-weight: 400;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-15-8-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-regular-15-8-line-height: 24.75px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-font-family: "Open Sans-SemiBold", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-font-size: 14px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-font-weight: 600;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-letter-spacing: 0.25px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-line-height: 22px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-upper-font-family: "Open Sans-SemiBold",
        Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-upper-font-size: 14px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-upper-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-upper-font-weight: 600;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-upper-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-upper-line-height: 22px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-15-8-font-family: "Open Sans-SemiBold", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-15-8-font-size: 15.800000190734863px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-15-8-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-15-8-font-weight: 600;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-15-8-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-15-8-line-height: 24.75px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-28-font-family: "Open Sans-SemiBold", Helvetica;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-28-font-size: 28px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-28-font-style: normal;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-28-font-weight: 600;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-28-letter-spacing: 0px;
    --fjob-vn-1529-5999755859375x695-2000122070312-default-roboto-semibold-28-line-height: 44px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-bold-14-font-family: "Open Sans", Helvetica;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-bold-14-font-size: 14px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-bold-14-font-style: normal;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-bold-14-font-weight: 700;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-bold-14-letter-spacing: 0px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-bold-14-line-height: 22px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-italic-14-font-family: "Open Sans-Italic",
        Helvetica;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-italic-14-font-size: 14px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-italic-14-font-style: italic;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-italic-14-font-weight: 400;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-italic-14-letter-spacing: 0px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-italic-14-line-height: 22px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-regular-12-font-family: "Open Sans-Regular",
        Helvetica;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-regular-12-font-size: 12px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-regular-12-font-style: normal;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-regular-12-font-weight: 400;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-regular-12-letter-spacing: 0px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-regular-12-line-height: 20px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-regular-14-font-family: "Open Sans-Regular",
        Helvetica;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-regular-14-font-size: 14px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-regular-14-font-style: normal;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-regular-14-font-weight: 400;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-regular-14-letter-spacing: 0px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-regular-14-line-height: 30px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-font-family: "Open Sans-SemiBold",
        Helvetica;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-font-size: 14px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-font-style: normal;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-font-weight: 600;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-letter-spacing: 0px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-semibold-14-line-height: 22px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-semibold-20-font-family: "Open Sans-SemiBold",
        Helvetica;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-semibold-20-font-size: 20px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-semibold-20-font-style: normal;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-semibold-20-font-weight: 600;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-semibold-20-letter-spacing: 0px;
    --fjob-vn-account-1529-5999755859375x695-2000122070312-default-roboto-semibold-20-line-height: 31.43000030517578px;
    --fjobvn-1529599975585937-5x-695200012207031-2defaultalto: rgba(220, 220, 220, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultblack: rgba(0, 0, 0, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultcherokee: rgba(251, 221, 149, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultcrimson: rgba(230, 22, 26, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultcrusoe: rgba(255, 61, 18, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultendeavour: rgba(0, 102, 168, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultfroly: rgba(239, 121, 140, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultgallery: rgba(240, 240, 240, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultgray: rgba(133, 133, 133, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultindochine: rgba(191, 100, 0, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultmalachite: rgba(255, 209, 92, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultmandy: rgba(233, 77, 102, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultmischka: rgba(231, 230, 232, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultmystic: rgba(225, 230, 236, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultnero: rgba(67, 71, 56, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultnobel: rgba(181, 181, 181, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultporcelain: rgba(246, 247, 248, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultpurple: rgba(88, 0, 155, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultred: rgba(229, 0, 0, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultselago: rgba(250, 247, 253, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultsilver: rgba(191, 191, 191, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultsun: rgba(254, 174, 16, 1);
    --fjobvn-1529599975585937-5x-695200012207031-2defaultturbo: rgb(253, 253, 253);
    --fjobvn15295999755859375x6952000122070312defaultblack-25: rgba(0, 0, 0, 0.25);
    --fjobvn15295999755859375x6952000122070312defaultblack-85: rgba(0, 0, 0, 0.85);
    --fjobvn15295999755859375x6952000122070312defaultbright-green: rgba(109, 242, 23, 1);
    --fjobvn15295999755859375x6952000122070312defaultburnt-sienna: rgba(228, 120, 61, 1);
    --fjobvn15295999755859375x6952000122070312defaultchelsea-gem: rgba(149, 108, 255, 1);
    --fjobvn15295999755859375x6952000122070312defaultcyan-aqua: rgba(255, 249, 242, 1);
    --fjobvn15295999755859375x6952000122070312defaultdark-blue: rgba(66, 0, 221, 1);
    --fjobvn15295999755859375x6952000122070312defaultelectric-violet: rgba(155, 39, 244, 1);
    --fjobvn15295999755859375x6952000122070312defaultemperor-70: rgba(82, 82, 82, 0.7);
    --fjobvn15295999755859375x6952000122070312defaultfrench-gray: rgba(210, 209, 212, 1);
    --fjobvn15295999755859375x6952000122070312defaultjapanese-laurel: rgba(255, 133, 0, 1);
    --fjobvn15295999755859375x6952000122070312defaultmine-shaft: rgba(50, 50, 50, 1);
    --fjobvn15295999755859375x6952000122070312defaultnero-02: rgba(255, 255, 255, 0);
    --fjobvn15295999755859375x6952000122070312defaultnutmeg-wood-finish: rgba(109, 52, 255, 1);
    --fjobvn15295999755859375x6952000122070312defaultpurple-heart: rgba(247, 247, 247, 1);
    --fjobvn15295999755859375x6952000122070312defaultroyal-purple: rgba(98, 68, 160, 1);
    --fjobvn15295999755859375x6952000122070312defaultsandy-brown: rgba(239, 146, 90, 1);
    --fjobvn15295999755859375x6952000122070312defaultscience-blue: rgba(0, 90, 209, 1);
    --fjobvn15295999755859375x6952000122070312defaultsherpa-blue: rgba(255, 77, 79, 1);
    --fjobvn15295999755859375x6952000122070312defaultsnuff-20: rgba(235, 224, 243, 0.2);
    --fjobvn15295999755859375x6952000122070312defaulttree-poppy: rgba(249, 158, 23, 1);
    --fjobvn15295999755859375x6952000122070312defaultwild-sand: rgba(245, 245, 245, 1);
    --fjobvnaccount-1529599975585937-5x-695200012207031-2defaultalto: rgba(220, 220, 220, 1);
    --fjobvnaccount-1529599975585937-5x-695200012207031-2defaultnero: rgba(255, 255, 255, 1);
    --fjobvnaccount-1529599975585937-5x-695200012207031-2defaultpurple: rgba(88, 0, 155, 1);
    --fjobvnaccount-1529599975585937-5x-695200012207031-2defaultsalem: rgba(6, 152, 60, 1);
    --fjobvnaccount-1529599975585937-5x-695200012207031-2defaultsilver: rgba(191, 191, 191, 1);
    --fjobvnaccount15295999755859375x6952000122070312defaultblack-25: rgba(0, 0, 0, 0.25);
    --fjobvnaccount15295999755859375x6952000122070312defaultblack-30: rgba(0, 0, 0, 0.3);
    --fjobvnaccount15295999755859375x6952000122070312defaultblack-85: rgba(0, 0, 0, 0.85);
    --fjobvnaccount15295999755859375x6952000122070312defaultjapanese-laurel: rgba(255, 133, 0, 1);
    --fjobvnaccount15295999755859375x6952000122070312defaultpurple-heart: rgba(143, 48, 214, 1);
    --fjobvnaccount15295999755859375x6952000122070312defaultsherpa-blue: rgba(255, 77, 79, 1);
    --fjobvnaccount15295999755859375x6952000122070312defaultwild-sand: rgba(245, 245, 245, 1);
    --variable-collection-xanh: rgba(102, 188, 70, 1);

    --light-green: rgba(247, 247, 247, 1);
    --semi-green: rgba(217, 239, 129, 1);
    --regular-green: rgba(181, 212, 60, 1);
    --bold-green: rgba(67, 71, 56, 1);
}
