.employer-page {
    display: flex;
    flex-wrap: wrap;
    font-family: Open Sans;

    &-sidebar {
        margin-top: 85px;
        width: 20%;
    }

    &-content {
        width: 80%;
        min-height: 650px;
        margin-top: 85px;
        background-color: var(--light-green);

        &-info {
            display: flex;
            width: 90%;
            margin: auto;
            background-color: #fff;
            border-radius: 20px;
            margin-top: 20px;
            padding: 10px;

            &-name {
                font-size: 30px;
                font-weight: bold;
                margin: 15px 25px;
            }
        }

        &-recruitment {
            display: flex;
            width: 90%;
            flex-wrap: wrap;
            margin: auto;
            margin-top: 30px;


            &-left {
                width: 55%;
                display: flex;
                flex-wrap: wrap;


                &-item {
                    &-1 {
                        display: flex;
                        width: 48%;
                        margin: auto;
                        margin-bottom: 10px;
                        background-color: #ffe8fb;
                        border-radius: 20px;
                        padding: 20px;
                    }

                    &-icon {
                        width: 30%;
                    }

                    &-2 {
                        display: flex;
                        width: 48%;
                        margin: auto;
                        margin-bottom: 10px;
                        background-color: #fff2ec;
                        border-radius: 20px;
                        padding: 20px;
                    }

                    &-time {
                        width: 70%;
                    }

                    &-quantity {
                        width: 70%;
                    }
                }


            }

            &-right {
                width: 44%;
                height: 205px;
                background-color: #fff;
                border-radius: 20px;
                padding: 20px;
                margin-left: 10px;
                display: flex;

                &-notify {
                    width: 70%;

                    &-title {
                        font-weight: bold;
                        font-size: 16px;
                    }
                }

                &-care {
                    width: 50%;
                }
            }
        }

        &-choice {
            width: 90%;
            margin: auto;
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            background-color: #fff;
            border-radius: 20px;
            padding: 10px;

            &-item {
                width: 20%;
                margin: auto;
                text-align: center;

                &-title {
                    font-size: 16px;
                    font-weight: bold;
                    margin-left: 5px;
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }
    }

}

#choice-icon {
    &-1 {
        background-color: rgb(248 239 228);
        color: rgb(255 166 3);
        font-size: 55px;
        padding: 20px;
        border-radius: 20px;
        align-items: center;
    }

    &-2 {
        background-color: rgb(233 255 231);
        color: #0bd50b;
        font-size: 55px;
        padding: 20px;
        border-radius: 20px;
        align-items: center;
    }

    &-3 {
        background-color: rgb(251 232 253);
        color: #a759ef;
        font-size: 55px;
        padding: 20px;
        border-radius: 20px;
        align-items: center;
    }

    &-4 {
        background-color: rgb(222 222 255);
        color: #7979ff;
        font-size: 55px;
        padding: 20px;
        border-radius: 20px;
        align-items: center;
    }
}

#sidebar-item {
    font-size: 20px;
    margin-bottom: 30px;
    width: 300px;
}

#icon-employer-managerment {
    font-size: 27px;
    padding: 10px;
    color: #d862d8;
    background-color: #efc9ef;
    border-radius: 50px;
    margin-left: 50px;
}

.sidebar {
    font-family: Open Sans;
    position: fixed;
    top: 85px;
    left: 0;
    height: 100vh;
    width: 20%;
    background-color: #fff;

    &__menu {
        position: relative;
        margin-top: 10px;

        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 3rem;
            font-size: 15px;
            font-weight: 500;
            color: #555555;
            // transition: color 0.1s ease-in-out;

            &__text a {
                text-decoration: none;
            }

            &.active {
                color: #fff;
                font-weight: bold;
            }

            &__icon {
                margin-right: 1rem;

                i {
                    font-size: 1.75rem;
                }
            }
        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 40px);
            border-radius: 10px;
            background-color: #00b14f;
            z-index: -1;
            transform: translateX(-50%);
            // transition: color 0.1s ease-in-out;
        }
    }
}

#emp-avt{
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

@media only screen and (max-width: 1400px) {
    .employer-page-content-recruitment-right {
        width: 43%;
        height: 205px;
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;
        margin-left: 10px;
        display: flex;
        font-size: 14px;
    }

    #icon-employer-managerment {
        font-size: 27px;
        padding: 10px;
        color: #d862d8;
        background-color: #efc9ef;
        border-radius: 50px;
        margin-left: 17px;
    }

    .employer-page-content-recruitment-left-item-content {
        font-size: 14px;
    }

    .employer-page-content-recruitment-left-item-2 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1179px) {
    .employer-page-content-recruitment-right {
        width: 43%;
        height: 205px;
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;
        margin-left: 10px;
        display: flex;
        font-size: 14px;
    }

    #icon-employer-managerment {
        font-size: 27px;
        padding: 10px;
        color: #d862d8;
        background-color: #efc9ef;
        border-radius: 50px;
        margin-left: 17px;
    }

    .employer-page-content-recruitment-left-item-content {
        font-size: 13px;
    }

    .employer-page-content-recruitment-left-item-2 {
        font-size: 13px;
    }

    .employer-page-content-choice-item-title {
        font-size: 14px;
        font-weight: bold;
        margin-left: 5px;
        margin-top: 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 1110px) {
    .employer-page-content-recruitment-right {
        width: 43%;
        height: 205px;
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;
        margin-left: 10px;
        display: flex;
        font-size: 14px;
    }

    #icon-employer-managerment {
        font-size: 27px;
        padding: 10px;
        color: #d862d8;
        background-color: #efc9ef;
        border-radius: 50px;
        margin-left: 17px;
    }

    .employer-page-content-recruitment-left-item-content {
        font-size: 15px;
    }

    .employer-page-content-recruitment-left-item-2 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1039px) {
    .employer-page-content-recruitment-right {
        width: 43%;
        height: 205px;
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;
        margin-left: 10px;
        display: flex;
        font-size: 14px;
    }

    #icon-employer-managerment {
        font-size: 27px;
        padding: 10px;
        color: #d862d8;
        background-color: #efc9ef;
        border-radius: 50px;
        margin-left: 17px;
    }

    .employer-page-content-recruitment-left-item-content {
        font-size: 15px;
    }

    .employer-page-content-recruitment-left-item-2 {
        font-size: 15px;
    }

    .employer-page-content-recruitment-left-item-time {
        width: 80%;
    }

    .employer-page-content-choice-item-title {
        font-size: 12px;
        font-weight: bold;
        margin-left: 5px;
        margin-top: 10px;
        text-align: center;
    }
}

@media only screen and (max-width: 1451px) {
    .sidebar {
        font-family: Open Sans;
        position: fixed;
        top: 85px;
        left: 0;
        height: 100vh;
        width: 20%;
        background-color: #fff;
    
        &__menu {
            position: relative;
            margin-top: 10px;
    
            &__item {
                display: flex;
                align-items: center;
                place-content: flex-start;
                padding: 1rem 3rem;
                font-size: 14px;
                font-weight: 500;
                color: #555555;
                // transition: color 0.1s ease-in-out;
    
                &__text a {
                    text-decoration: none;
                }
    
                &.active {
                    color: #fff;
                    font-weight: bold;
                }
    
                &__icon {
                    margin-right: 1rem;
    
                    i {
                        font-size: 1.75rem;
                    }
                }
            }
    
            &__indicator {
                position: absolute;
                top: 0;
                left: 50%;
                width: calc(100% - 40px);
                border-radius: 10px;
                background-color: #00b14f;
                z-index: -1;
                transform: translateX(-50%);
                // transition: color 0.1s ease-in-out;
            }
        }
    }
  }

  @media only screen and (max-width: 1397px) {
    .sidebar {
        font-family: Open Sans;
        position: fixed;
        top: 85px;
        left: 0;
        height: 100vh;
        width: 20%;
        background-color: #fff;
    
        &__menu {
            position: relative;
            margin-top: 10px;
    
            &__item {
                display: flex;
                align-items: center;
                place-content: flex-start;
                padding: 1rem 3rem;
                font-size: 12px;
                font-weight: 500;
                color: #555555;
                // transition: color 0.1s ease-in-out;
    
                &__text a {
                    text-decoration: none;
                }
    
                &.active {
                    color: #fff;
                    font-weight: bold;
                }
    
                &__icon {
                    margin-right: 1rem;
    
                    i {
                        font-size: 1.75rem;
                    }
                }
            }
    
            &__indicator {
                position: absolute;
                top: 0;
                left: 50%;
                width: calc(100% - 40px);
                border-radius: 10px;
                background-color: #00b14f;
                z-index: -1;
                transform: translateX(-50%);
                // transition: color 0.1s ease-in-out;
            }
        }
    }
  }