.job-detail {
    display: flex;
    font-family: Open Sans;

    &-left {
        width: 70%;

        &-name {
            font-size: 30px;
            font-weight: bold;
            color: red;
            margin: 10px 20px
        }

        &-top {
            display: flex;
            flex-wrap: wrap;

            &-item {
                width: 28%;
                margin: 0 20px;
                display: flex;
            }

            &-due {
                margin: 0 20px;
            }
        }
    }

    &-right {
        width: 30%;
        margin-top: 14px;
        border-radius: 20px;
    }

    &-title {
        font-size: 20px;
        font-weight: bold;
        color: brown;
    }

    &-content {
        font-weight: 400;
    }

    &-left-top-due {
        width: 210px;
        margin: 20px 35px;
        font-size: 20px;
        font-weight: bold;
    }

    &-comment {
        width: 100%;
        margin-top: 10px;
        overflow: hidden;
        overflow-y: scroll;
        max-height: 235px;

        &-new {
            display: flex;
            width: 100%;
        }

        &-post {
            width: 95%;
        }

        &-avt {
            width: 15%;

            & img {
                width: 40px;
                height: 40px;
                border-radius: 60px;
                margin-right: 20px;
            }
        }


    }
}

.user-comment {
    font-family: Open Sans;

    &-name {
        font-weight: bold;
        width: 70%;

        & span {
            color: #b4b2b2;
        }
    }

    &-time {
        color: #b4b2b2;
    }
}

.box-create-cmt {
    font-family: Open Sans;
    width: 100%;
    border: 1px solid rgb(225, 225, 234);
    ;
}

.box-view-cmt {
    margin-bottom: 40px;
}

.view-cmt {
    font-family: Open Sans;
    font-size: 17px;
    margin: 5px 55px;
}

.cmt-jd {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: bold;
}

#input-comment-job-detail {
    font-family: Open Sans;
    width: 100%;
    padding-bottom: 50px;
    height: 100px;
}

#job-detail-icon {
    background-color: #93e8cc;
    border-radius: 50px;
    font-size: 20px;
    margin: 3px 15px;
    padding: 15px 15px;
    width: 50px;
    height: 50px;
    text-align: center;

}

.box {
    font-family: Open Sans;
    width: 95%;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding-bottom: 10px;
}

#btn {
    font-family: Open Sans;

    &-job-detail {
        margin: 0 20px;
    }

    &-apply {
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px 270px;
        border-radius: 20px;

        &-submit {
            margin-right: 20px;
            margin-left: 20px;
            border-radius: 20px;
            padding: 15px;
        }
    }

    &-save {
        padding: 10px 30px;
        border-radius: 20px;
        margin-bottom: 20px;

        &-submit {
            border-radius: 20px;
            padding: 15px;
        }

        &-job {
            font-size: 25px;
            color: #9f9d9d;
            padding: 4px;
            border-radius: 10px;
        }


    }

    &-list-save-job {
        font-size: 25px;
        color: #9f9d9d;
        margin: 40px -60px;

        &-all {
            font-size: 25px;
            color: #9f9d9d;
            margin: 15px 160px;
        }
    }

    &-job-submit {
        margin-top: 20px;
    }

    &-view-job {
        translate: 60px 20px;
    }

    &-submit {
        margin-right: 10px;
    }
}

.content {
    font-family: Open Sans;
    width: 95%;
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-top: 20px;
    padding-bottom: 30px;

    &-detail {
        border-left: 4px solid green;
        margin: 30px 20px;
        translate: 0 10px;

        &-job {

            margin: 10px 20px;
        }
    }

    &-detail-common {
        margin: 10px 20px;
        font-size: 25px;
        font-weight: bold;
    }

    &-title {
        margin: 10px 20px;
        font-size: 18px;
        font-weight: bold;
        display: flex;

        &-item {
            font-weight: 100;
            font-size: 16px;
            translate: 10px 1px;
        }
    }
}

.job {
    font-family: Open Sans;

    &-relate {
        border-radius: 10px;
        background-color: #fff;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        border: 1px solid rgb(225, 225, 234);

        &-left {
            width: 90%;
            display: flex;
        }

        &-right {
            width: 30%;
        }
    }

    &-company {
        font-size: 20px;
        margin-top: -25px;
        margin-bottom: 15px;

        &-detail {
            background-color: #f9f9f9;
            border-radius: 20px;
            translate: 0px -5px;
            padding: 15px;
        }

        &-box {
            display: flex;
        }

        &-name {
            font-size: 25px;
            font-weight: bold;
            margin: 30px 10px;
        }

        &-address {
            display: flex;
            margin: 10px 10px;
        }

        &-title {
            font-size: 17px;
            font-weight: bold;
            margin-right: 20px;
            min-width: 125px;
        }

        &-go-detail {
            margin: 0 85px;
            width: 100%;
            text-decoration: none;
            text-align: center;
            color: #d8ae45;
        }
    }

    &-item {
        display: flex;
        width: 90%;
        justify-content: space-around;
        margin: 20px 0;
        background-color: #fff7f7;
        ;
        translate: 60px 0;
        padding-bottom: 30px;
        border-radius: 10px;
        border: 1px #b4b2b2 solid;

        &-left {
            display: flex;
            width: 75%;
        }

        &-right {
            width: 25%;

            &-content {
                translate: -15px 75px;
            }
        }
    }

    &-name {
        color: #66BC46;
        font-weight: bold;
        font-size: 25px;
    }

    &-salary {
        color: #66BC46;
        font-weight: bold;
        font-size: 25px;
        translate: 85px -65px;
    }

    &-sumary {
        display: flex;
        flex-wrap: wrap;

        &-item {
            text-align: center;
            font-size: 15px;
            background-color: #e7edf1;
            margin: 10px 10px;
            padding: 5px;
            border-radius: 10px;

            & span {
                font-weight: bold;
            }
        }
    }

    &-des {
        translate: 10px 20px;
    }

    &-filter {
        display: flex;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        translate: 25px;

        &-item {
            width: 100%;
            display: flex;

            &-left {
                display: flex;

                &-content {
                    margin-right: 110px;
                    margin-top: 15px;
                    width: 100%;
                }
            }
        }

        &-detail {
            border-radius: 10px;
            background-color: #fff;
            width: 31%;
            margin-right: 20px;
            margin-bottom: 15px;
            border: 1px solid rgb(225, 225, 234);

            &-1 {
                width: 45%;
                border: 1px #b4b2b2 solid;
                border-radius: 10px;
                background-color: #fff7f7;
                margin-right: 20px;
                margin-bottom: 15px;
                margin-left: 23px;
            }
        }

        &-name {
            font-weight: bold;
            width: 100%;

            &-relate {
                font-weight: bold;
                width: 100%;

                & a {
                    text-decoration: none;
                    color: #212f3f;
                }
            }

            & a {
                text-decoration: none;
                color: #212f3f;
            }
        }

        &-company {
            color: #6f7882;

            & span {
                font-weight: bold;
                color: black;
            }
        }

        &-sumary {
            display: flex;
            flex-wrap: wrap;
            margin-top: -12px;

            &-item {
                text-align: center;
                margin: 5px 5px;
                padding: 5px;
                border-radius: 10px;
                font-size: 14px;
            }
        }
    }

    &-topic {
        color: var(--bold-green);
        font-weight: bold;
        margin: 20px 0;
    }

    &-attractive {
        display: flex;

        &-left {
            width: 70%;
        }

        &-right {
            width: 30%;
        }
    }

    &-div-homepage {
        background-image: url("https://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQcc2j7n5qgIyGdb4DPyzyTVz06z4uRi1veUdKSYdIMEKW0r9KHlqJDmon8aIqGu2cvTYNQzLIuQRPoBBAG6wQ");
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 28px 0px;
        position: relative;
    }
}

#job {

    &-filter {
        width: 300px;
        margin-right: 40px;
        color: #a6acb2;

        &-1 {
            width: 54%;
            margin-right: 40px;
            color: #a6acb2;
        }

        &-btn {
            margin-right: 20px;
            width: 165px;
            height: 36px;

            &-1 {
                margin-right: 5px;
                width: 195px;
                height: 40px;
            }
        }

        &-icon {
            margin-right: 10px;
            color: #a6acb2;
        }

    }

    &-list {
        font-family: Open Sans;
        color: #d2ae12;
        font-size: 20px;
        margin-left: 125px;

        &-1 {
            width: 20%;
            padding-left: 10px;
            text-decoration: none;
            color: #d2ae12;
            font-size: 18px;
        }
    }
}

#basic-addon1 {
    color: #a6acb2;
}

#company-logo {
    font-family: Open Sans;
    width: 80px;
    height: 80px;
    margin: 15px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.infomation {
    font-family: Open Sans;

    &-common {
        background-color: #f9f9f9;
        border-radius: 20px;
        padding: 15px;
        margin-top: 20px;

        &-title {
            font-size: 30px;
            font-weight: bold;
        }
    }

    &-content {
        margin: 3px 80px;
        font-size: 18px;
        font-weight: 400;
    }
}

.card {
    font-family: Open Sans;

    & img {
        width: 415px;
        height: 210px;
    }

    &-slide {
        padding: 20px 0;

        &-1 {
            margin-top: 30px;

            & img {
                width: 100%;
                height: 880px;

            }
        }
    }
}

.all-job {
    font-family: Open Sans;

    &-list {
        margin-top: 40px;

        &-top {
            display: flex;

            &-item {
                width: 30%;
                margin-top: 5px;

                & span {
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }

        &-item {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
        }

        &-detail {
            border-radius: 10px;
            background-color: #fff;
            width: 48%;
            margin-right: 20px;
            margin-bottom: 15px;
            border: 1px solid rgb(225, 225, 234);
        }
    }
}

#all-job-top-select {
    font-family: Open Sans;
    width: 200px;
}

.feedback-emp {
    font-family: Open Sans;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
}

.btn-relate {
    translate: 50px 25px;
}

#vote-employ {
    width: 30%;
}

@media only screen and (max-width: 1400px) {
    #btn-list-save-job {
        font-size: 25px;
        color: #9f9d9d;
        margin: 42px -95px;
    }

    .job-list-name {
        font-weight: bold;
        width: 170px;
    }

    .job-detail-left-top-item {
        width: 25%;
        margin: 0 25px;
        display: flex;
    }

    .btn-relate {
        translate: 15px 25px;
    }

    #vote-employ {
        width: 30%;
        translate: -40px;
    }

    #btn-apply {
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px 200px;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    #btn-list-save-job {
        font-size: 25px;
        color: #9f9d9d;
        margin: 42px -95px;
    }

    .job-list-name {
        font-weight: bold;
        width: 120px;
    }

    .job-detail-left-top-due {
        width: 210px;
        margin: 20px 35px;
        font-size: 16px;
        font-weight: bold;
    }

    .job-list-item-left-content {
        margin-right: 110px;
        margin-top: 15px;
        width: 100%;
        font-size: 15px;
    }

    .job-detail-left-top-item {
        width: 26%;
        margin: 0px 18px;
        display: flex;
    }

    .job-detail-title {
        font-size: 14px;
        font-weight: bold;
        color: brown;
    }

    .job-detail-content {
        font-weight: 400;
        font-size: 12px;
    }

    .job-detail-left-name {
        font-size: 25px;
        font-weight: bold;
        color: red;
        margin: 10px 20px;
    }

    #btn-apply {
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px 150px;
        border-radius: 20px;
    }

    .job-company-title {
        font-size: 15px;
        font-weight: bold;
        margin-right: -28px;
        min-width: 125px;
    }

    .job-company-name {
        font-size: 21px;
        font-weight: bold;
        margin: 30px 0px;
    }

    .infomation-content {
        margin: 3px 80px;
        font-size: 14px;
        font-weight: 400;
    }

    .infomation-common-title {
        font-size: 22px;
        font-weight: bold;
    }

    .cmt-jd {
        font-family: Open Sans;
        font-size: 22px;
        font-weight: bold;
    }

    #vote-employ {
        width: 32%;
        font-size: 20px;
        translate: 25px 5px;
        margin-bottom: 10px;
    }

    .user-comment-name {
        font-weight: bold;
        width: 70%;
        translate: 25px;
    }

    .user-comment-time {
        color: #b4b2b2;
        translate: 27px;
    }
}

@media only screen and (max-width: 992px) {
    #btn-list-save-job {
        font-size: 25px;
        color: #9f9d9d;
        margin: 42px -95px;
    }

    .job-list-name {
        font-weight: bold;
        width: 120px;
    }

    .job-list-item-left-content {
        margin-right: 110px;
        margin-top: 15px;
        width: 100%;
        font-size: 15px;
    }

    .job-list-detail {
        border-radius: 10px;
        background-color: #fff;
        width: 46%;
        margin-right: 20px;
        margin-bottom: 15px;
        border: 1px solid rgb(225, 225, 234);
    }

    .job-detail-left-name {
        font-size: 19px;
        font-weight: bold;
        color: red;
        margin: 10px 20px;
    }

    #job-detail-icon {
        background-color: #93e8cc;
        border-radius: 50px;
        font-size: 15px;
        margin: 2px 15px;
        padding: 7px 5px;
        width: 25px;
        height: 30px;
        text-align: center;
    }

    .job-detail-left-top-item {
        width: 28%;
        margin: 0px 12px;
        display: flex;
    }

    .job-detail-title {
        font-size: 13px;
        font-weight: bold;
        color: brown;
    }

    #btn-apply {
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px 70px;
        border-radius: 20px;
    }

    .job-list-name-relate {
        font-weight: bold;
        width: 145px;
    }

    .btn-relate {
        translate: -80px 40px;
        width: 120px;
    }

    #company-logo {
        font-family: Open Sans;
        width: 50px;
        height: 50px;
        margin: 5px;
        background-color: #fff;
        border-radius: 10px;
        padding: 5px;
    }

    .job-company-name {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0px;
    }

    .job-company-title {
        font-size: 13px;
        font-weight: bold;
        margin-right: -62px;
        min-width: 125px;
    }

    .job-company-address-detail {
        font-size: 14px;
        translate: 0px -2px;
    }

    .infomation-content {
        margin: 3px 55px;
        font-size: 10px;
        font-weight: 400;
    }

    .user-comment-time {
        color: #b4b2b2;
        translate: 27px;
    }
}

@media only screen and (max-width: 768px) {
    #btn-list-save-job {
        font-size: 25px;
        color: #9f9d9d;
        margin: 42px -103px;
    }

    .job-list-name {
        font-weight: bold;
        width: 100px;
    }

    .job-list-item-left-content {
        margin-right: 110px;
        margin-top: 15px;
        width: 100%;
        font-size: 15px;
    }

    .job-list-detail {
        border-radius: 10px;
        background-color: #fff;
        width: 45%;
        margin-right: 20px;
        margin-bottom: 15px;
        border: 1px solid rgb(225, 225, 234);
    }

    #company-logo {
        font-family: Open Sans;
        width: 40px;
        height: 40px;
        margin: 0px 5px;
        background-color: #fff;
        border-radius: 10px;
    }

    .job-detail-left-top-item {
        width: 42%;
        margin: 0px 10px;
        display: flex;
    }

    #btn-apply {
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px 20px;
        border-radius: 20px;
    }

    #btn-save {
        padding: 10px 20px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    #btn-save-relate{
        font-size: 11px;
    }

    .btn-relate {
        translate: -63px 50px;
        width: 120px;
    }

    .job-company-name {
        font-size: 12px;
        font-weight: bold;
        margin: 10px 0px;
    }

    .job-company-title {
        font-size: 10px;
        font-weight: bold;
        margin-right: -75px;
        min-width: 125px;
    }

    .job-company-address-detail {
        font-size: 10px;
    }

    .infomation-common-title {
        font-size: 13px;
        font-weight: bold;
    }

    .cmt-jd {
        font-family: Open Sans;
        font-size: 13px;
        font-weight: bold;
    }

    .user-comment-name {
        font-weight: bold;
        width: 70%;
        translate: 25px;
        font-size: 11px;
    }

    #vote-employ {
        width: 32%;
        font-size: 11px;
        translate: 25px 5px;
        margin-bottom: 10px;
    }

    .user-comment-time {
        color: #b4b2b2;
        translate: 27px;
        font-size: 11px;
    }

    .view-cmt{
        font-size: 11px;
    }
}